---
import Button from '@components/Button.astro';
---

<header
  class="minimal-navbar-container flex min-w-full flex-row-reverse border-b border-base border-opacity-40">
  <div class="button-container mx-6 my-4 flex pl-4">
    <Button name="Home" link="/" class="font-semibold text-muted-light" />
  </div>
</header>
