---
import Button from "../subComponents/Button.astro";
---
<header
  class="minimal-navbar-container flex flex-row-reverse text-slate-200 min-w-full border-b border-slate-400 border-opacity-40">
  <div class="button-container my-4 mx-6 flex pl-4">
    <Button name="Home" link="/" styles="font-semibold text-opacity-100" />
  </div>
</header>
