---
import Button from '../subComponents/Button.astro';
---

<header
  class="minimal-navbar-container flex min-w-full flex-row-reverse border-b border-slate-400 border-opacity-40">
  <div class="button-container mx-6 my-4 flex pl-4">
    <Button name="Home" link="/" class="text-dark-text font-semibold" />
  </div>
</header>
