---
import Button from '../subComponents/Button.astro';
---

<header
  class="minimal-navbar-container border-base flex min-w-full flex-row-reverse border-b border-opacity-40">
  <div class="button-container mx-6 my-4 flex pl-4">
    <Button name="Home" link="/" class="text-primary-200 font-semibold" />
  </div>
</header>
