@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-card {
    @apply rounded-lg border border-light border-opacity-20;
  }

  .blue-underline {
    @apply underline decoration-accent-500 dark:hover:text-primary-200/75 decoration-2 underline-offset-[5px] dark:decoration-accent-500 dark:hover:decoration-accent-600/80;
  }
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* scrollbar-color: hsla(0, 0%, 60%, 0.2) transparent;
  scrollbar-width: thin; */
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
  height: 10px;
  gap: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 60%, 0.2);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 60%, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background-color: hsla(0, 0%, 60%, 0.3);
}