@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* scrollbar-color: hsla(0, 0%, 60%, 0.2) transparent;
    scrollbar-width: thin; */
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;
    gap: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 60%, 0.2);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 60%, 0.4);
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: hsla(0, 0%, 60%, 0.3);
  }

  [data-theme='sky'] {
    --accent-50: theme(colors.sky.50);
    --accent-100: theme(colors.sky.100);
    --accent-200: theme(colors.sky.200);
    --accent-300: theme(colors.sky.300);
    --accent-400: theme(colors.sky.400);
    --accent-500: theme(colors.sky.500);
    --accent-600: theme(colors.sky.600);
    --accent-700: theme(colors.sky.700);
    --accent-800: theme(colors.sky.800);
    --accent-900: theme(colors.sky.900);
    --accent-950: theme(colors.sky.950);
  }

  [data-theme='violet'] {
    --accent-50: theme(colors.violet.50);
    --accent-100: theme(colors.violet.100);
    --accent-200: theme(colors.violet.200);
    --accent-300: theme(colors.violet.300);
    --accent-400: theme(colors.violet.400);
    --accent-500: theme(colors.violet.500);
    --accent-600: theme(colors.violet.600);
    --accent-700: theme(colors.violet.700);
    --accent-800: theme(colors.violet.800);
    --accent-900: theme(colors.violet.900);
    --accent-950: theme(colors.violet.950);
  }

  [data-theme='emerald'] {
    --accent-50: theme(colors.emerald.50);
    --accent-100: theme(colors.emerald.100);
    --accent-200: theme(colors.emerald.200);
    --accent-300: theme(colors.emerald.300);
    --accent-400: theme(colors.emerald.400);
    --accent-500: theme(colors.emerald.500);
    --accent-600: theme(colors.emerald.600);
    --accent-700: theme(colors.emerald.700);
    --accent-800: theme(colors.emerald.800);
    --accent-900: theme(colors.emerald.900);
    --accent-950: theme(colors.emerald.950);
  }

  [data-theme='teal'] {
    --accent-50: theme(colors.teal.50);
    --accent-100: theme(colors.teal.100);
    --accent-200: theme(colors.teal.200);
    --accent-300: theme(colors.teal.300);
    --accent-400: theme(colors.teal.400);
    --accent-500: theme(colors.teal.500);
    --accent-600: theme(colors.teal.600);
    --accent-700: theme(colors.teal.700);
    --accent-800: theme(colors.teal.800);
    --accent-900: theme(colors.teal.900);
    --accent-950: theme(colors.teal.950);
  }

  [data-theme='cyan'] {
    --accent-50: theme(colors.cyan.50);
    --accent-100: theme(colors.cyan.100);
    --accent-200: theme(colors.cyan.200);
    --accent-300: theme(colors.cyan.300);
    --accent-400: theme(colors.cyan.400);
    --accent-500: theme(colors.cyan.500);
    --accent-600: theme(colors.cyan.600);
    --accent-700: theme(colors.cyan.700);
    --accent-800: theme(colors.cyan.800);
    --accent-900: theme(colors.cyan.900);
    --accent-950: theme(colors.cyan.950);
  }

  [data-theme='fuchsia'] {
    --accent-50: theme(colors.fuchsia.50);
    --accent-100: theme(colors.fuchsia.100);
    --accent-200: theme(colors.fuchsia.200);
    --accent-300: theme(colors.fuchsia.300);
    --accent-400: theme(colors.fuchsia.400);
    --accent-500: theme(colors.fuchsia.500);
    --accent-600: theme(colors.fuchsia.600);
    --accent-700: theme(colors.fuchsia.700);
    --accent-800: theme(colors.fuchsia.800);
    --accent-900: theme(colors.fuchsia.900);
    --accent-950: theme(colors.fuchsia.950);
  }

  [data-theme='amber'] {
    --accent-50: theme(colors.amber.50);
    --accent-100: theme(colors.amber.100);
    --accent-200: theme(colors.amber.200);
    --accent-300: theme(colors.amber.300);
    --accent-400: theme(colors.amber.400);
    --accent-500: theme(colors.amber.500);
    --accent-600: theme(colors.amber.600);
    --accent-700: theme(colors.amber.700);
    --accent-800: theme(colors.amber.800);
    --accent-900: theme(colors.amber.900);
    --accent-950: theme(colors.amber.950);
  }
}

@layer components {
  .blue-underline {
    @apply underline decoration-accent-500 decoration-2 underline-offset-[5px] dark:decoration-accent-500 dark:hover:text-primary-200/75 dark:hover:decoration-accent-600/80;
  }

  .card-mx {
    @apply mx-4;
  }

  .card-p {
    @apply p-6;
  }

  .h1 {
    @apply dark:text-light text-dark text-4xl font-extrabold;
  }
}