---

---

<section class="border-b-1">
  <div
    class="box grid-background flex flex-col items-center justify-center py-20">
    <code class="text-muted-foreground mb-2 text-[10px]"
      >v1.0 started in 27ms</code
    >
    <h1
      class="mb-8 text-center text-4xl leading-normal font-bold tracking-tight text-balance">
      Next Generation Tooling <br /> for
      <code class="rounded-sm bg-slate-200 px-2 py-1 dark:bg-slate-800"
        >[TypeScript]</code
      >
    </h1>
    <p
      class="text-muted-foreground w-[386px] text-center text-[14px] tracking-tight text-balance">
      Our mission is to make web developers more productive than ever before.
    </p>
    <StartupTime client:load />
  </div>
</section>
