---
import '/src/global.css'
import NavBar from '../components/NavBar.astro'
import MainLayout from '../layouts/MainLayout.astro';
import Footer from "../components/Footer.astro";
---

<MainLayout title="About Me" description="Bassim Shahidy's personal website">
	<body>
		<NavBar />
		<h1 class="text-3xl">Second Page</h1>
	</body>
	<div class="footer-container absolute bottom-0">
		<Footer />
	</div>
</MainLayout>