---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="About Me" description="Bassim Shahidy's personal website">
  <div>
    <section class="card-mx mt-8 card-p max-w-3xl">
      <h3 class="mb-4 text-xl font-semibold">About Me</h3>
      <div slot="content" class="space-y-4 text-muted-foreground">
        <p>
          Based in NY, I'm an IT Professional with a wealth of experience in
          hardware, software management, network operations, cybersecurity, and
          audio-visual systems.
        </p>
        <p>
          Currently, my focus is on advancing my skillset in software engineering
          and web development, utilizing the latest programming technologies to
          enhance user experiences and system performance.
        </p>
        <p>
          In addition, I'm exploring AI and machine learning, seeking to
          understand and apply these technologies in practical scenarios. My
          technical repertoire also includes 3D printing—where I skillfully build
          and maintain printers for precision parts—and drone building, where I
          apply my electronics and software knowledge to create and pilot
          high-performance drones.
        </p>
      </div>
    </section>
    <section class="card-mx mt-4 card-p max-w-3xl">
      <h3 class="mb-4 text-xl font-semibold">About This Website</h3>
      <div slot="content" class="space-y-4 text-muted-foreground">
        <p>
          This is website is built with Astro, Tailwind CSS, and React. It serves as my portfolio website, showcasing my
          technical skills and experiences, while also acting as a sandbox to try things and add new features as I continue
          to learn and grow as a software engineer.
        </p>
      </div>
    </section>
  </div>
</MainLayout>
