---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="About Me" description="Bassim Shahidy's personal website">
  <div>
    <section class="card-mx card-p mt-8 max-w-3xl">
      <h3 class="mb-4 text-xl font-semibold">About Me</h3>
      <div
        slot="content"
        class="text-muted-foreground [&_a]:prose [&_a]:prose-slate dark:[&_a]:prose-invert space-y-4">
        <p>
          Based in NY, I'm a self taught software engineer with a passion for
          programming and open source software. I primarily work with modern web
          technologies like React, TypeScript, Astro, and Next.js to build
          beautiful, performant, and accessible web applications and open source
          libraries.
        </p>
        <p class="">
          I'm currently working on a project called
          <a
            href="https://github.com/AVGVSTVS96/react-shiki"
            class="dark:hover:text-accent-300 hover:text-accent-400"
            >react-shiki</a
          >, which provides a React component and a hook for syntax highlighting
          code blocks using the
          <a
            href="https://github.com/shikijs/shiki"
            class="dark:hover:text-accent-300 hover:text-accent-400">Shiki</a
          >
          library.
        </p>
        <p>
          I’m also a Founding Engineer at
          <a
            href="https://github.com/assistant-ui/assistant-ui"
            class="dark:hover:text-accent-300 hover:text-accent-400"
            >assistant-ui</a
          >, where we’re focused on setting the gold standard for developer
          experience (DX) and accessibility in AI chat applications.
        </p>
      </div>
    </section>
    <section class="card-mx card-p max-w-3xl">
      <h3 class="mb-4 text-xl font-semibold">About This Website</h3>
      <div slot="content" class="text-muted-foreground">
        <p>
          This is website is built with Astro, Tailwind CSS, and React. It
          serves as my portfolio website, showcasing my technical skills, blog
          posts, and projects, while also acting as a sandbox to try things and
          add new features as I continue to learn and grow as a software
          developer.
        </p>
      </div>
    </section>
  </div>
</MainLayout>
