---
import MainLayout from '@layouts/MainLayout.astro';
import Card from '@components/Card.astro';
---

<MainLayout title="About Me" description="Bassim Shahidy's personal website">
  <section>
    <Card
      title="My First Astro Website"
      subtitle="Styled with Tailwind CSS"
      variant="bordered"
      displayHr={true}>
      <p slot="content">
        This is the third version of my personal website! With each iteration my
        website has grown in complexity in proportion to my progress learning
        web development. This version is built with Astro, a frontend rendering
        framework that uses an HTML like syntax to create components while
        allowing the use of components from several of the most popular
        frameworks.
      </p>
      <p slot="content">
        Astro is also extremely fast, it uses the islands architecture to only
        send Javascript when required within interactive components.
      </p>
      <p slot="content">
        For more information on Astro and how I used it to build this website,
        visit <a
          href="/posts/blog1"
          class="font-semibold hover:text-muted-light/85"
          >How I built this website</a
        >.
      </p>
    </Card>
  </section>
</MainLayout>
