---
import BlogIndex from '../components/BlogIndex.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <div class="container flex flex-col items-center">
    <div class="w-fit">
      <h1 class="text-4xl font-bold text-slate-200 mb-4">Blog Posts</h1>
      <BlogIndex styles="w-[860px]" />
    </div>
  </div>
</MainLayout>
