---
import BlogIndex from '../components/BlogIndex.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <div class="container flex flex-col items-center">
    <div class="w-fit mx-4">
      <h1 class="text-4xl font-extrabold dark:text-slate-100 mb-4 text-slate-700">Blog Posts</h1>
      <BlogIndex class="w-[500px] sm:w-[560px] md:w-[720px] lg:w-[860px]" />
    </div>
  </div>
</MainLayout>
