---
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogTimeline from '@components/BlogTimeline.astro';
---

<BaseLayout>
  <section class="card-mx card-p max-w-3xl">
    <div class="mt-16 ml-8 sm:ml-16">
      <h1 class="mb-4 text-5xl font-bold">blog</h1>
    </div>
    <hr class="border-accent-400 mt-8 mb-2 ml-8 sm:ml-16"/>
    <BlogTimeline lineClamp="line-clamp-3" split={true} />
  </section>
</BaseLayout>
