---
import '@styles/global.css';
import '@styles/shad.css';
import MinimalNavBar from '@components/designProject1/MinimalNavBar.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="" />
    <title>Minimal Typography</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Bassim Shahidy",
        "jobTitle": "IT Technician",
        "worksFor": {
          "@type": "Organization",
          "name": "NYC Bar Association"
        },
        "description": "Bassim Shahidy is an IT specialist with experience in information technologies, audio visual technologies, and computer science. Bassim also has a vast set of academic interests including history, political science, and philosophy.",
        "url": "https://bassimshahidy.com",
        "contactPoint": {
          "@type": "ContactPoint",
          "email": "bassim@bassimshahidy.com",
          "contactType": "professional"
        }
      }
    </script>
    <script>
      document.documentElement.classList.add('dark');
    </script>
  </head>
  <MinimalNavBar />
  <section class="container min-w-full px-10 py-10 text-muted-light">
    <div class="container flex min-w-full flex-col gap-2 text-left">
      <h1 class="font-sans text-4xl font-bold tracking-tight">
        Hi, I'm Bassim
      </h1>
      <p class="text-xl opacity-60">
        I'm an IT/AV Specialist at the NYC BAR Association
      </p>
    </div>
  </section>
  <style>
    html {
      @apply bg-primary-950;
      min-height: 100dvh;
    }
    body {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  </style>


</html>
