---
import '/src/global.css'
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="First Project">
        <div class="container mt-16 min-w-full">
            <h1 class="font-sans font-bold text-9xl ml-4">Hi, I'm Bassim</h1>
            <hr class="mt-6 border-4 mx-4">
        </div>
</MainLayout>