---
import '/src/global.css'
import MainLayout from '../layouts/MainLayout.astro';
import MinimalNavBar from '../components/designProject1/MinimalNavBar.astro';
---

<MainLayout title="First Project">
    <MinimalNavBar />
        <div class="container mt-16 min-w-full">
            <h1 class="font-sans font-bold text-9xl ml-4 tracking-tight">Hi, I'm <br> Bassim</h1>
        </div>
</MainLayout>