---
import '@styles/global.css';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class="p-6">
    <div
      class="relative px-16 grid min-w-full grid-cols-4 grid-rows-8 gap-4 text-left">
      <div id="horizontal-lines">
        <div
          class="absolute top-0 col-span-4 row-start-3 h-px w-[calc(100%-10rem)] bg-gradient-to-r from-transparent via-accent-400/75 dark:via-accent-500/40 to-transparent">
        </div>
        <div
          class="absolute top-14 col-span-4 row-start-3 mt-1 h-px w-[calc(100%-10rem)] bg-gradient-to-r from-transparent via-accent-400/75 dark:via-accent-500/40 to-transparent">
        </div>
        <div
          class="absolute top-0 col-span-4 row-start-6 h-px w-[calc(100%-10rem)] bg-gradient-to-r from-transparent via-accent-400/75 dark:via-accent-500/40 to-transparent">
        </div>
        <div
          class="absolute top-14 col-span-4 row-start-6 mt-1 h-px w-[calc(100%-10rem)] bg-gradient-to-r from-transparent via-accent-400/75 dark:via-accent-500/40 to-transparent">
        </div>
      </div>
      <h1
        class="col-span-4 row-start-3 -mt-2 text-7xl font-bold tracking-tight">
        Bassim Shahidy
      </h1>
      <p
        class="col-span-2 row-start-4 min-h-24 pr-10 text-xl text-muted-foreground">
        I'm an IT/AV Specialist at the NYC BAR Association
      </p>
      <p
        class="col-span-2 col-start-3 row-start-4 text-xl text-muted-foreground">
        I'm also a self-taught web developer and aspiring designer with a
        passion for creating beautiful and functional websites.
      </p>
      <h1
        class="col-span-4 col-start-1 row-start-6 -mt-2 text-7xl font-bold tracking-tight text-foreground">
        Experiments in Design
      </h1>
      <p
        class="col-span-2 col-start-1 row-start-7 text-xl text-muted-foreground">
        I started learning software development in Janusary 2023
      </p>
      <p
        class="col-span-3 col-start-3 row-start-7 text-xl text-muted-foreground">
        This website is my personal sandbox for experimenting and gaining
        experience in design and development.
      </p>
    </div>
  </section>
</BaseLayout>
