---
import '@styles/global.css';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class="max-w-6xl p-6">
    <div
      class="relative grid min-w-full grid-cols-4 grid-rows-8 gap-4 px-16 text-left">
      <div id="horizontal-lines">
        <div
          class="absolute top-0 col-span-4 row-start-2 h-px w-[calc(100%-10rem)] bg-gradient-to-r from-transparent via-accent-400/75 to-transparent dark:via-accent-500/40">
        </div>
        <div
          class="absolute top-14 col-span-4 row-start-2 mt-1 h-px w-[calc(100%-10rem)] bg-gradient-to-r from-transparent via-accent-400/75 to-transparent dark:via-accent-500/40">
        </div>
        <div
          class="absolute top-0 col-span-4 row-start-5 h-px w-[calc(100%-10rem)] bg-gradient-to-r from-transparent via-accent-400/75 to-transparent dark:via-accent-500/40">
        </div>
        <div
          class="absolute top-14 col-span-4 row-start-5 mt-1 h-px w-[calc(100%-10rem)] bg-gradient-to-r from-transparent via-accent-400/75 to-transparent dark:via-accent-500/40">
        </div>
      </div>
      <h1
        class="col-span-4 row-start-2 -mt-2 text-7xl font-bold tracking-tight">
        Bassim Shahidy
      </h1>
      <p
        class="col-span-2 row-start-3 min-h-24 pr-10 text-xl text-muted-foreground">
        I'm an IT/AV Specialist at the NYC BAR Association
      </p>
      <p
        class="col-span-2 col-start-3 row-start-3 text-xl text-muted-foreground">
        I'm also a self-taught web developer and aspiring designer with a
        passion for creating beautiful and functional websites.
      </p>
      <h1
        class="col-span-4 col-start-1 row-start-5 -mt-2 text-7xl font-bold tracking-tight text-foreground">
        Experiments in Design
      </h1>
      <p
        class="col-span-2 col-start-1 row-start-6 text-xl text-muted-foreground">
        I started learning software development in January 2023
      </p>
      <p
        class="col-span-3 col-start-3 row-start-6 text-xl text-muted-foreground">
        This website is my personal sandbox for experimenting and gaining
        experience in design and development.
      </p>
    </div>
  </section>
</BaseLayout>
