---
import MainLayout from '../layouts/MainLayout.astro';
import Card from '@components/Card.astro';
import BlogIndex from '@components/BlogIndex.astro';
import Projects from '@components/Projects.astro';
---

<MainLayout
  title="Bassim Shahidy"
  description="Bassim Shahidy's personal website">
  <body>
    <div class="max-w-3xl">
      <section class="my-24 w-5/6">
        <Card
          title="hi, i'm bassim"
          subtitle="I'm an IT/AV Specialist from New York learning web development"
          variant="borderless"
        />
      </section>
      <div class="card-mx card-p">
        <div class="mb-3 text-2xl font-extrabold">
          <h1>blog</h1>
        </div>
        <BlogIndex postCount={3} />
      </div>
      <Projects />
    </div>
  </body>
</MainLayout>
