---
import MainLayout from '../layouts/MainLayout.astro';
import BlogTimeline from '@components/BlogTimeline.astro';
import Projects from '@components/Projects.astro';
---

<MainLayout
  title="Bassim Shahidy"
  description="Bassim Shahidy's personal website">
  <article class="card-mx card-p max-w-3xl">
    <section id="hero section" class="mt-14 mb-18">
      <h1 class="mb-2 text-[2.5rem] font-extrabold">Hi, I'm Bassim</h1>
      <h2 class="text-muted-foreground text-xl font-semibold">
        I'm a software engineer from New York
      </h2>
    </section>
    <section id="latest posts" class="mb-18">
      <h1 class="text-xl font-semibold">Latest Posts</h1>
      <div>
        <BlogTimeline postCount={3} lineClamp="line-clamp-2" />
      </div>
    </section>
    <section id="projects">
      <h1 class="text-foreground mb-6 text-xl font-semibold">Projects</h1>
      <Projects />
    </section>
  </article>
</MainLayout>
