---
import MainLayout from '../layouts/MainLayout.astro';
import BlogTimeline from '@components/BlogTimeline.astro';
import Projects from '@components/Projects.astro';
---

<MainLayout
  title="Bassim Shahidy"
  description="Bassim Shahidy's personal website">
  <article class="card-mx card-p max-w-3xl">
    <section
      id="hero section"
      class="prose prose-slate dark:prose-invert mt-14 mb-18">
      <h1 class="text-[2.4rem]">Hi, i'm Bassim</h1>
      <div class="text-muted-foreground space-y-4">
        <p>
          Based in NY, I'm a self taught web developer and multifaceted tech
          enthusiast. I have a passion for open source software, and have been
          learning and working with modern web technologies like React,
          TypeScript, Astro, and Next.js to build beautiful, performant, and
          accessible web applications and packages.
        </p>
        <p class="[&_a]:no-underline">
          I'm currently working on a project called
          <a
            href="https://github.com/AVGVSTVS96/react-shiki"
            class="dark:hover:text-accent-300 hover:text-accent-400"
            >react-shiki</a
          >, which provides a React component and a hook for performant syntax
          highlighting of code blocks with
          <a
            href="https://github.com/shikijs/shiki"
            class="dark:hover:text-accent-300 hover:text-accent-400">Shiki</a
          >.
        </p>
      </div>
    </section>
    <section id="latest posts" class="mb-18">
      <h1 class="text-xl font-semibold">Latest Posts</h1>
      <div>
        <BlogTimeline postCount={3} lineClamp="line-clamp-2" />
      </div>
    </section>
    <section id="projects">
      <h1 class="text-foreground mb-6 text-xl font-semibold">Projects</h1>
      <Projects />
    </section>
  </article>
</MainLayout>
