---
import '/src/global.css'
import NavBar from '../components/NavBar.astro'
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Bassim Shahidy">
	<body>
		<NavBar />
		<div>
			<h1 class="text-6xl text-white text-center">Astro</h1>
			<p class="text-white mt-6 text-lg">
				Welcome to Astro! This is a demo of a static site built with Astro.
			</p>	
		</div>
	</body>
</MainLayout>