---
import NavBar from '../components/NavBar.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
---

<MainLayout
  title="Bassim Shahidy"
  description="Bassim Shahidy's personal website">
  <body>
    <NavBar />
    <Card
      title="Bassim Shahidy"
      subtitle="IT Specialist at the New York City BAR Association"
      heading="Introduction"
      variant="borderless">
      <p slot="content">
        I'm an IT Professional based in NY, bringing a wealth of experience in hardware and software management, network operations, cybersecurity, and audio-visual systems. My current focus is on enhancing my software engineering and web development skills, employing the latest programming techniques and technologies to refine user experiences and system efficiency.
      </p>
      <p slot="content">
        I'm also actively exploring AI and machine learing applications and contemplating their role in shaping future technology and societal impacts. My approach involves not just understanding these technologies but also experimenting with them to find innovative solutions to practical challenges.
      </p>
      <p slot="content">
        My technical journey also encompasses 3D printing and drone building. In 3D printing, I find satisfaction in building, tuning, and maintaining complex 3D printers to reliably produce intricate, precision parts. This process involves a meticulous blend of technical expertise and precision engineering. I also utilize my expertise in electronics, software, and remote systems to construct and pilot custom drones, constantly learning and adapting in this evolving field while applying lessons from my other technical pursuits to create advanced, high-performance drones.
      </p>
    </Card>
  </body>
  <Footer />
</MainLayout>
