---
import "/src/global.css";
import NavBar from "../components/NavBar.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
---

<MainLayout
	title="Bassim Shahidy"
	description="Bassim Shahidy's personal website">
	<body>
		<NavBar />
		<Card
			title="Bassim Shahidy"
			subtitle="IT Technician at the New York City BAR Association">
			<p slot="content" class="text-lg">
				This is the third version of my personal website! With each
				iteration my website has grown in complexity in proportion to my
				progress learning web development. This version is built with
				Astro, a frontend rendering framework that uses an HTML like
				syntax to create components while allowing the use of components
				from several of the most popular frameworks.
			</p>
			<p slot="content">
				Astro is also extremely fast, it uses the islands architecture
				to only send Javascript when required within interactive
				components.
			</p>
		</Card>
	</body>
	<Footer />
</MainLayout>

<style>
	html {
		@apply bg-gradient-to-tr 
				from-fuchsia-950 to-indigo-900
	}
</style>
