---
const { name, link } = Astro.props;
---
<a
    href={link}
    class="bg-clip-text text-transparent font-normal rounded-lg 
        bg-gradient-to-r from-white to-white border border-slate-700 py-2 px-3 mx-2 
        hover:from-violet-400 hover:to-blue-400">
    <button>{name}</button>
</a>
