---
const { name = 'Dropdown', linkNames = [], urls = [] } = Astro.props;
import Button from './Button.astro';
---

<div class="relative flex justify-start">
  <Button name={name} id="dropdown-button" />
  <div
    id="dropdown"
    class="absolute top-14 ml-2 hidden w-40 rounded-md bg-slate-800 p-[0.5px]">
    {
      linkNames.map((linkName, index) => (
        <a
          href={urls[index]}
          class="m-1 block rounded-md px-2 py-2 text-sm hover:bg-slate-700">
          {linkName}
        </a>
      ))
    }
  </div>
</div>

<script>
  const button = document.getElementById('dropdown-button');
  const dropdown = document.getElementById('dropdown');

  button.addEventListener('click', () => {
    dropdown.classList.toggle('hidden');
  });
</script>
