---
const { name = 'Dropdown', linkNames = [], urls = [] } = Astro.props;
---

<div class="relative flex justify-start pl-2">
  <button
    id="dropdown-button"
    class="relative block rounded-md border border-slate-400 px-3"
    >{name}</button>
  <div
    id="dropdown"
    class="absolute top-14 hidden w-40 rounded-md bg-slate-800 p-[0.5px]">
    {
      linkNames.map((linkName, index) => (
        <a
          href={urls[index]}
          class="m-1 block rounded-md px-2 py-2 text-sm hover:bg-slate-700">
          {linkName}
        </a>
      ))
    }
  </div>
</div>

<script>
  const button = document.getElementById('dropdown-button');
  const dropdown = document.getElementById('dropdown');

  button.addEventListener('click', () => {
    dropdown.classList.toggle('hidden');
  });
</script>
