---
import DropdownMenu from './DropdownMenu.astro';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const themeOptions = [
  { name: 'Sky', url: '#sky' },
  { name: 'Cyan', url: '#cyan' },
  { name: 'Teal', url: '#teal' },
  { name: 'Emerald', url: '#emerald' },
  { name: 'Violet', url: '#violet' },
  { name: 'Fuchsia', url: '#fuchsia' },
  { name: 'Amber', url: '#amber' },
];
---

<div class="theme-switcher">
  <DropdownMenu name="" links={themeOptions} showCaret={true} icon={false}>
    <slot name="icon" slot="icon">
      <div
        class="rainbow-ring before:ring-[0.7px] before:ring-primary-300 before:dark:ring-primary-950">
      </div>
    </slot>
  </DropdownMenu>
</div>

<script is:inline>
  const changeTheme = (newTheme) => {
    document.documentElement.removeAttribute('data-theme');
    document.documentElement.setAttribute('data-theme', newTheme);
    localStorage.setItem('themeSwitcher', newTheme);
  };

  const currentTheme = localStorage.getItem('themeSwitcher') || 'sky';
  changeTheme(currentTheme);

  document.addEventListener('DOMContentLoaded', () => {
    document
      .querySelectorAll('.theme-switcher .dropdown-content a')
      .forEach((link) => {
        link.addEventListener('click', (e) => {
          e.preventDefault();
          const theme = e.target.getAttribute('href').substring(1); // Extract theme name from href
          changeTheme(theme);
        });
      });
  });
</script>
<style is:global>
  :root {
    --ring-size: 26px;
    --rainbow-width: 20px;
  }

  .rainbow-ring {
    display: inline-block;
    width: var(--ring-size);
    height: var(--ring-size);
    border-radius: 50%;
    background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
    position: relative;
  }

  .rainbow-ring::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--rainbow-width);
    height: var(--rainbow-width);
    border-radius: 50%;
    background: var(--accent-500);
  }
</style>
