---
const allPosts = await Astro.glob('../pages/posts/*.md');
const { class: className } = Astro.props;
let displayPosts = Astro.props.postCount
  ? allPosts.slice(-Astro.props.postCount)
  : allPosts;

interface Props {
  postCount?: number;
  class?: string;
}
---

<ul class={`list-none pl-0 ${className}`}>
  {
    displayPosts.map((post) => (
      <li class="dark:border-base/20 grid grid-cols-1 border-b-[0.5px] p-2.5 sm:grid-cols-3">
        <div class="dark:text-primary-200/60 text-primary-900/75 col-span-1 self-center">
          {post.frontmatter.pubDate}
        </div>
        <div class="col-span-2 sm:text-right">
          <a
            href={post.url}
            class="dark:text-primary-200 dark:hover:text-primary-200/75 text-primary-900 hover:text-primary-900/80 hover:decoration-accent-300 decoration-accent-500 dark:decoration-accent-500 dark:hover:decoration-accent-600/80 block text-xl font-[600] underline decoration-2 underline-offset-[5px] dark:hover:underline">
            {post.frontmatter.title}
          </a>
        </div>
      </li>
    ))
  }
</ul>
