---
interface Props {
  title?: string;
  subtitle?: string;
  heading?: string;
  variant: 'bordered' | 'borderless';
}

let { variant } = Astro.props;
---

<div
  class={`prose prose-invert max-w-3xl rounded-lg p-6 prose-h2:font-semibold prose-h2:opacity-60 ${
    variant === 'borderless' ? '' : 'border border-slate-200 border-opacity-20'
  }`}>
  <h1 class="mb-2">{Astro.props.title}</h1>
  <h2 class="mt-0">{Astro.props.subtitle}</h2>
  <hr class="mb-8 border-sky-400/70" />
  <h3 class="mb-1">{Astro.props.heading}</h3>
  <slot name="content" />
</div>
