---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  title?: string;
  subtitle?: string;
  heading?: string;
  variant: 'bordered' | 'borderless';
  displayHr?: boolean;
  padding?: string;
  class?: string;
  noMargin?: boolean;
}

const {
  title,
  subtitle,
  heading,
  variant,
  displayHr,
  padding = 'card-p',
  class: className,
  noMargin = false,
  ...attrs
} = Astro.props;

const baseStyles: string =
  'prose prose-slate max-w-3xl rounded-lg dark:prose-invert prose-h2:font-semibold prose-h2:opacity-80 dark:prose-h2:opacity-60';

const variableStyles: (string | undefined)[] = [
  padding,
  className,
  noMargin ? '' : 'mx-4',
  variant === 'borderless' ? '' : 'border',
];
---

<div class:list={[baseStyles, variableStyles]} {...attrs}>
  {title && <h1 class="mb-2">{title}</h1>}
  {subtitle && <h2 class="mt-0">{subtitle}</h2>}
  {displayHr && <hr class="mb-8 border-accent-500" />}
  {heading && <h3 class="mb-1">{heading}</h3>}
  <slot name="content" />
</div>
<style>
  html.light {
    @apply prose-headings:text-dark;
  }
</style>
