---
import Social from './subComponents/Social.astro';
const name = 'Bassim Shahidy';
---

<div
  class="footer-container mt-24 flex w-3/4 justify-center border-t-2 border-opacity-70 dark:border-slate-600">
  <footer
    class="mb-6 mt-8 flex items-center gap-4 text-sm text-opacity-60 dark:text-slate-50">
    <p>© {new Date().getFullYear()} {name}. All rights reserved.</p>
    <Social platform="github" username="avgvstvs96" />
    <Social platform="linkedin" variant="linkedIn" username="bassimshahidy" />
  </footer>
</div>
