---
import Social from './subComponents/Social.astro';
const name = 'Bassim Shahidy';
---

<div
  class="footer-container mt-24 flex w-full justify-center border-t border-slate-400/40 ">
  <footer
    class="m-5 flex items-center gap-4 text-sm text-opacity-60 dark:text-slate-50">
    <p>© {new Date().getFullYear()} {name}. All rights reserved.</p>
    <Social platform="github" username="avgvstvs96" />
    <Social platform="linkedin" variant="linkedIn" username="bassimshahidy" />
  </footer>
</div>
