---
import Social from "./subComponents/Social.astro";
const name = "Bassim Shahidy";
---

<div class="footer-container">
    <footer
        class="flex items-center mt-8 mb-6 gap-4 text-sm text-slate-50">
        <p>© {new Date().getFullYear()} {name}. All rights reserved.</p>
        <Social platform="github" username="avgvstvs96" />
    </footer>
</div>
