---
import Social from "./subComponents/Social.astro";
const name = "Bassim Shahidy";
---

<footer class="text-white flex items-center mt-8 mb-6 gap-4 text-sm">
    <p>© {new Date().getFullYear()} {name}. All rights reserved.</p>
    <Social platform="github" username="avgvstvs96"/>
</footer>
