---
import { Icon } from 'astro-icon/components';

const { class: className } = Astro.props;

interface Props {
  class?: string;
}
---

<a href="/" aria-label="logo, link to homepage" class={className}>
  <span
    class="logo flex h-9 items-center gap-x-2.5 pb-0.5 text-xl font-extrabold text-foreground/85">
    <Icon name="shadlogo" size={20} />
    bassim
  </span>
</a>
