<div class="navbar-container w-full bg-gray-800 fixed top-0">
  <div class="button-container flex justify-between items-center px-4">
    <img src="../public/astroLogo.svg" alt="Astro Logo" class="h-10 w-10"/>

    <div class="flex">
      <a href="/" class="rounded bg-gray-700 p-2 mx-2">
        <button class="text-white text-xl">Home</button>
      </a>
      <a href="/about/" class="rounded bg-gray-700 p-2 mx-2">
        <button class="text-white text-xl">About</button>
      </a>
      <a href="/posts/firstBlog" class="rounded bg-gray-700 p-2 mx-2">
        <button class="text-white text-xl">Blog</button>
      </a>
    </div>
  </div>
</div>
