---
import Button from './Button.astro';
import DropdownMenu from './DropdownMenu.astro';
import ThemeToggle from './ThemeToggle.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
import { CommandMenu } from '@components/CommandMenu';
import { SideMenu } from '@components/SideMenu';
import Logo from './Logo.astro';

const allPosts = await Astro.glob('@pages/posts/*.md');

import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const { ...attrs } = Astro.props;
---

<div
  class="navbar-container sticky top-0 z-10 mb-8 w-full border-b border-border bg-background"
  {...attrs}>
  <div
    class="h-1 w-full bg-gradient-to-r from-accent-300 via-accent-500 to-accent-400">
  </div>
  <div
    class="button-container flex items-center justify-between px-4 py-2 text-dark dark:text-light sm:px-6 md:px-10 xl:px-14">
    <span class="flex items-center">
      <Logo class="mr-4" />
      <CommandMenu client:load buttonStyles="h-8 pr-1" posts={allPosts} />
    </span>
    <div class="button-theme-container flex items-center gap-1">
      <div class="gap-1 text-[15px] sm:flex">
        <div class="hidden items-center gap-1 lg:flex">
          <Button name="Home" link="/" tabindex="-1" />
          <Button name="About" link="/about" tabindex="-1" />
          <Button name="Blog" link="/blog" tabindex="-1" />
          <DropdownMenu
            name="Projects"
            links={[
              { name: 'Minimal Typography', url: '/designProject' },
              { name: 'Old Flask Site', url: '/flaskSite' },
              { name: 'GPT Chat', url: '/gpt' },
              { name: 'React + shadcn/ui', url: '/react' },
            ]}
            showCaret={true}
            icon={false}
          />
        </div>
        <ThemeSwitcher />
      </div>
      <ThemeToggle />
      <div class="flex lg:hidden">
        <SideMenu client:load />
      </div>
    </div>
  </div>
</div>
