---
import Button from './subComponents/Button.astro';
import DropdownMenu from './subComponents/DropdownMenu.astro';
import ThemeToggle from './subComponents/ThemeToggle.astro';
import ThemeSwitcher from './subComponents/ThemeSwitcher.astro';
---

<div
  class="navbar-container sticky top-0 z-10 mb-8 w-full border-b border-base/50 bg-primary-50 px-4 py-2 dark:border-base/40 dark:bg-primary-950 sm:px-6 md:px-10 xl:px-14">
  <div class="button-container flex items-center justify-between gap-6">
    <a href="/" class="dark:invert">
      <img
        src="../astroLogo.svg"
        alt="Astro Logo"
        class="astro-icon w-30 hidden h-8 opacity-80 md:block"
      />
      <img
        src="../astroLogoSmall.svg"
        alt="Astro Logo"
        class="astro-icon block h-8 w-8 opacity-80 md:hidden"
      />
    </a>
    <div class="button-theme-container flex">
      <div class="md:text-md hidden gap-2 sm:flex lg:text-lg">
        <Button name="Home" link="/" />
        <Button name="About" link="/about" />
        <Button name="Blog" link="/blog" />
        <DropdownMenu
          name="Projects"
          links={[
            { name: 'Minimal Typography', url: '/designProject' },
            { name: 'Old Flask Site', url: '/flaskSite' },
          ]}
          showCaret={true}
          icon={false}
        />
        <ThemeSwitcher />
      </div>
      <div class="flex sm:hidden">
        <DropdownMenu
          name="hamburger"
          links={[
            { name: 'Home', url: '/' },
            { name: 'About', url: '/about' },
            { name: 'Blog', url: '/blog' },
            { name: 'Minimal Typography', url: '/designProject' },
            { name: 'Old Flask Site', url: '/flaskSite' },
          ]}
          showCaret={false}
          icon={true}
        />
      </div>
      <ThemeToggle />
    </div>
  </div>
</div>
