---
import Button from "./subComponents/Button.astro";
---

<div class="navbar-container min-w-full bg-gray-800 sticky top-0 py-2 mb-6">
  <div class="button-container flex justify-between items-center text-white text-xl px-4">
    <a href="/">
      <img src="../astroLogo.svg" alt="Astro Logo" class="h-8 w-30" />
    </a>
    <div class="flex">
      <Button name="Home" link="/" />
      <Button name="About" link="/about" />
      <Button name="Blog" link="/posts/firstBlog" />
    </div>
  </div>
</div>
