---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
import Card from '../components/Card.astro';
import { Icon } from 'astro-icon/components';
---

<div class="mx-4 mt-8 px-6">
  <div class="dark:text-dark text-light mb-4 text-4xl font-extrabold">
    <h1>Projects</h1>
  </div>
  <ul class="list-none pl-0 sm:flex">
    {
      projects.map((project) => (
        <Card variant="bordered" padding="p-3.5" class="my-4 sm:my-0 sm:w-1/2">
          <div slot="content">
            <a
              class="flex items-center justify-between text-[1.2rem] font-semibold no-underline"
              href={project.data.url}>
              <span class="hover:dark:text-dark/75 dark:text-slate-50">
                {project.data.title}
              </span>
              <Icon
                name="github"
                class="mx-2 size-5 opacity-70 hover:opacity-100"
              />
            </a>
            <p class="mt-2.5  line-clamp-2 text-[0.925rem]">
              {project.data.description}
            </p>
            <div class="flex gap-2">
              {project.data.tags.map((tag) => (
                <div class="border-light-accent dark:border-dark-accent/15 bg-accent-light dark:bg-accent-dark/10 rounded-xl border px-2 py-1 text-sm text-sky-700/85 dark:text-sky-300">
                  {tag}
                </div>
              ))}
            </div>
          </div>
        </Card>
      ))
    }
  </ul>
</div>
