---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
import Card from '../components/Card.astro';
import { Icon } from 'astro-icon/components';
---

<div class="mx-4 mt-8 w-1/2 px-6">
  <div class="prose mb-6 dark:prose-invert">
    <h1 class="mb-4">Projects</h1>
  </div>
  <ul class="flex list-none pl-0">
    {
      projects.map((project) => (
        <Card variant="bordered" padding="p-3.5" class="w-1/2">
          <div slot="content">
            <a
              class="flex items-center justify-between text-[1.2rem] font-semibold no-underline"
              href={project.data.url}>
              <span class="dark:text-slate-50 hover:dark:text-slate-200/75">
                {project.data.title}
              </span>
              <Icon
                name="github"
                class="mx-2 size-5 opacity-70 hover:opacity-100"
              />
            </a>
            <p class="mt-2.5  line-clamp-2 text-[0.925rem]">{project.data.description}</p>
            <div class="flex gap-2">
              {project.data.tags.map((tag) => (
                <div class="rounded-xl border border-sky-200 bg-sky-50 px-2 py-1 text-sm text-sky-700/85 dark:border-sky-500/15 dark:bg-sky-500/10 dark:text-sky-300">
                  {tag}
                </div>
              ))}
            </div>
          </div>
        </Card>
      ))
    }
  </ul>
</div>
