---
const codeStyles =
  'prose-code:not-first:mx-0.5 prose-code:not-[pre_code]:rounded-md prose-code:not-[pre_code]:bg-slate-200 prose-code:not-[pre_code]:px-1.5 prose-code:not-[pre_code]:py-1 prose-code:not-[pre_code]:dark:bg-slate-700/75 prose-code:font-medium prose-code:text-primary-800/90 prose-code:before:hidden prose-code:after:hidden dark:prose-code:text-foreground';

const linksStyles =
  'prose-a:decoration-accent-400 prose-a:underline-offset-[3px] prose-a:transition-colors prose-a:duration-100 prose-a:hover:text-accent-300';

const headingStyles = 'prose-h1:text-2xl md:prose-h1:text-3xl';

const hrStyles =
  'prose-hr:border-accent-500 dark:prose-hr:border-accent-400 dark:prose-hr:border-opacity-60';

const tableStyles =
  'prose-table:border prose-th:border-r prose-th:px-3 prose-td:border-r prose-td:px-3 dark:prose-table:border-primary-600 dark:prose-th:border-primary-600  dark:prose-td:border-r dark:prose-td:border-primary-600';

const baseStyles =
  'prose prose-slate min-h-full leading-[1.65] dark:prose-invert prose-h1:pt-2';
---

<div
  class:list={[
    baseStyles,
    tableStyles,
    headingStyles,
    hrStyles,
    linksStyles,
    codeStyles,
    'xl:max-w-[75ch]',
  ]}>
  <slot />
</div>
