---
import { Button } from '@components/ui/button';
import { ModeToggle } from '@components/subComponents/ModeToggle';
import { Icon } from 'astro-icon/components';
---

<header class="flex items-center border-b border-border/50 px-8 py-2">
  <h1
    class="flex items-center gap-x-2.5 text-xl font-bold text-foreground dark:text-muted-light">
    <Icon name="shadlogo" size={20} />
    bassim
  </h1>
  <nav class="button-container flex w-full items-center justify-between pl-3">
    <a href="/">
      <Button
        variant="link"
        className="h-10 text-muted-dark hover:text-dark hover:no-underline dark:text-primary-400 dark:hover:text-muted-light/85">
        Home
      </Button>
    </a>
    <ModeToggle client:load />
  </nav>
</header>
