---
import { Button } from '@components/ui/button';
import { ModeToggle } from '@components/ModeToggle';
import { Icon } from 'astro-icon/components';
import { SideMenu } from '@components/SideMenu';
import { CommandMenu } from '@components/CommandMenu';

const allPosts = await Astro.glob('@pages/posts/*.md');

const links = [
  { href: '/', label: 'Home' },
  { href: '/about', label: 'About' },
  { href: '/blog', label: 'Blog' },
];
---

<header class="flex min-h-12 items-center border-b border-border/50 px-8 py-2">
  <a href="/">
    <h1
      class="flex items-center gap-x-2.5 text-xl font-bold text-foreground dark:text-muted-light">
      <Icon name="shadlogo" size={20} />
      bassim
    </h1>
  </a>
  <nav class="button-container flex w-full items-center justify-between pl-3">
    <span class="flex gap-5 px-4">
      {
        links.map((link, index) => (
          <a href={link.href}>
            <Button
              client:load
              key={index}
              tabIndex={-1}
              variant="link"
              className="hidden h-9 px-0 text-muted-foreground hover:text-foreground/80 hover:no-underline sm:block">
              {link.label}
            </Button>
          </a>
        ))
      }
    </span>
    <span class="flex items-center gap-2">
      <CommandMenu client:load posts={allPosts} />
      <SideMenu client:load />
      <ModeToggle client:load />
    </span>
  </nav>
</header>
