---
import { Icon } from 'astro-icon/components';
const { platform } = Astro.props;

interface Props {
  platform: 'github' | 'linkedin';
}

const socialLinks = {
  github: 'https://github.com/avgvstvs96',
  linkedin: 'https://www.linkedin.com/in/bassimshahidy',
};
---

<a
  href={socialLinks[platform]}
  aria-label={`Bassim's ${platform} profile`}>
  <Icon
    name={`${platform}`}
    size={20}
    class={`${platform}-icon hover:text-foreground`}
  />
</a>

