---
const { class: className, heading } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<li class={className}>
  <a href={'#' + heading.slug} class="no-underline">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="my-0 list-none px-0">
        {heading.subheadings.map(
          (subheading: { slug: string; text: string, subheadings: any[] }) => (
            <li class="px-0">
              <a
                href={'#' + subheading.slug}
                class="group flex items-start no-underline">
                <Icon
                  name="sideCaret"
                  size={13}
                  class="mx-1 mt-1 flex-shrink-0 stroke-primary-600 group-hover:stroke-primary-400/80 dark:stroke-primary-400 dark:group-hover:stroke-primary-300"
                  title="caret-icon"
                />
                {subheading.text}
              </a>
              {
                subheading.subheadings && subheading.subheadings.length > 0 && (
                  <ul class="my-0 list-none px-0">
                    {subheading.subheadings.map(
                      (subsubheading: { slug: string; text: string }) => (
                        <li class="px-0">
                          <a
                            href={'#' + subsubheading.slug}
                            class="group flex items-start no-underline">
                            <Icon
                              name="sideCaret"
                              size={13}
                              class="mr-1 ml-5 mt-1 flex-shrink-0 stroke-primary-400 group-hover:stroke-primary-400/50 dark:stroke-primary-500 dark:group-hover:stroke-primary-300"
                              title="caret-icon"
                            />
                            {subsubheading.text}
                          </a>
                        </li>
                      )
                    )}
                  </ul>
                )
              }
            </li>
          )
        )}
      </ul>
    )
  }
</li>

<style>
  li:has(.active) > a {
    @apply text-accent-400 hover:text-accent-300;
  }

  :root:is(.dark) li:has(.active) > a {
    @apply text-accent-300/70 hover:text-accent-300/90;
  }

  a:hover {
    @apply text-muted dark:text-muted-light/80;
  }
</style>
