---
const { class: className, heading, isSubheading } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<li class={className}>
  <a href={'#' + heading.slug} class="group mt-1 flex items-start no-underline">
    {
      isSubheading && (
        <Icon
          name="sideCaret"
          size={13}
          class="mx-1 mt-1 flex-shrink-0 stroke-primary-600 group-hover:stroke-primary-400/80 dark:stroke-primary-400 dark:group-hover:stroke-primary-300"
          title="caret-icon"
        />
      )
    }
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class={`${isSubheading ? 'ml-2' : ''} my-0 list-none px-0`}>
        {heading.subheadings.map((subheading) => (
          <Astro.self
            className="px-0"
            heading={subheading}
            isSubheading={true}
          />
        ))}
      </ul>
    )
  }
</li>

<style>
  li:has(.active) > a {
    @apply text-accent-400 hover:text-accent-300;
  }

  :root:is(.dark) li:has(.active) > a {
    @apply text-accent-300/70 hover:text-accent-300/90;
  }

  a:hover {
    @apply text-muted dark:text-muted-light/80;
  }
</style>
