---
const { className, heading } = Astro.props;
---

<li class={className}>
  <a href={'#' + heading.slug} class="no-underline">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="my-0 list-image-[url(/sideCaret.svg)]">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

<style>
  .active {
    @apply text-sky-300/70;
  }

  li:has(.active) > a {
    @apply text-sky-300/70 hover:text-sky-300/90;
  }

  :hover {
    @apply text-slate-300/90;
  }
</style>
