---
const { class: className, heading, isSubheading, level = 0 } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<li class={className}>
  <a href={'#' + heading.slug} class="flex group mt-0 items-start no-underline">
        <Icon
          name="sideCaret"
          size={13}
          class={`mx-1 mt-1 flex-shrink-0 dark:group-hover:stroke-primary-300
                  ${level === 2 ? 'stroke-primary-400 group-hover:stroke-primary-400/50 dark:stroke-primary-500' : 'stroke-primary-600 group-hover:stroke-primary-400/80 dark:stroke-primary-400'}
                  ${isSubheading ? '' : 'hidden'}
                `}
          title="caret-icon"
        />
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class={`${isSubheading ? 'ml-2' : ''} my-0 list-none px-0`}>
        {heading.subheadings.map((subheading: string) => (
          <Astro.self
            className="px-0"
            heading={subheading}
            isSubheading={true}
            level={level + 1}
          />
        ))}
      </ul>
    )
  }
</li>

<style>
  li:has(.active) > a {
    @apply text-accent-400 hover:text-accent-300;
  }

  :root:is(.dark) li:has(.active) > a {
    @apply text-accent-300/70 hover:text-accent-300/90;
  }

  a:hover {
    @apply text-muted dark:text-muted-light/80;
  }
</style>
