---
const { class: className, heading } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<li class={className}>
  <a href={'#' + heading.slug} class="no-underline">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="my-0 list-none px-0">
        {heading.subheadings.map((subheading) => (
          <li class="px-0">
            <a
              href={'#' + subheading.slug}
              class="group flex items-start no-underline">
              <Icon
                name="sideCaret"
                size={13}
                class="dark:group-hover:stroke-primary-300 group-hover:stroke-primary-400/80 dark:stroke-primary-400 stroke-primary-500 mx-1 mt-1 flex-shrink-0"
                title="caret-icon"
              />
              {subheading.text}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</li>

<style>
  li:has(.active) > a {
    @apply hover:text-accent-300 text-accent-400;
  }

  :root:is(.dark) li:has(.active) > a {
    @apply text-accent-300/70 hover:text-accent-300/90;
  }

  a:hover {
    @apply dark:text-primary-300/85 text-primary-400;
  }
</style>
