---
import DropdownMenu from './DropdownMenu.astro';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const themeOptions = [
  { name: 'Slate', href: '#slate' },
  { name: 'Sky', href: '#sky' },
  { name: 'Cyan', href: '#cyan' },
  { name: 'Teal', href: '#teal' },
  { name: 'Emerald', href: '#emerald' },
  { name: 'Violet', href: '#violet' },
  { name: 'Fuchsia', href: '#fuchsia' },
  { name: 'Amber', href: '#amber' },
];
---

<div class="theme-switcher">
  <DropdownMenu name="" links={themeOptions} showCaret={true} icon={false}>
    <slot name="icon" slot="icon">
      <div
        class="rainbow-ring mx-0.5 before:ring-[0.7px] before:ring-primary-100 before:dark:ring-primary-950">
      </div>
    </slot>
  </DropdownMenu>
</div>

<script is:inline>
  const changeTheme = (newTheme) => {
    document.documentElement.setAttribute('data-theme', newTheme);
    localStorage.setItem('themeSwitcher', newTheme);
  };

  const currentTheme = localStorage.getItem('themeSwitcher') || 'sky';
  changeTheme(currentTheme);

  document.addEventListener('DOMContentLoaded', () => {
    document
      .querySelectorAll('.theme-switcher .dropdown-content a')
      .forEach((link) => {
        link.addEventListener('click', (e) => {
          e.preventDefault();
          const theme = e.target.getAttribute('href').substring(1);
          changeTheme(theme);
        });
      });
  });
</script>
<style is:global>
  :root {
    --ring-size: 25px;
    --rainbow-width: 19px;
  }

  .rainbow-ring {
    display: inline-block;
    width: var(--ring-size);
    height: var(--ring-size);
    border-radius: 50%;
    background: conic-gradient(
      lch(54.29% 106.84 40.86),
      lch(97.61% 94.71 99.57),
      lch(87.82% 113.33 134.38),
      lch(90.67% 52.82 196.45),
      lch(29.57% 131.2 301.36),
      lch(60.17% 111.4 327.11),
      lch(54.29% 106.84 40.86)
    );
    position: relative;
  }

  .rainbow-ring::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--rainbow-width);
    height: var(--rainbow-width);
    border-radius: 50%;
    background: linear-gradient(
      to bottom left,
      var(--accent-300),
      var(--accent-600)
    );
  }
</style>
