:root {
    background-color: hsl(271, 100%, 35%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}