---
import '@fontsource-variable/inter';
import inter from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';
import '@styles/global.css';
import Meta from '@components/Meta.astro';
import ReactHeader from '@components/ReactHeader.astro';
import Footer from '@components/Footer.astro';

const { description, title } = Astro.props;
---

<html lang="en" class="min-h-dvh w-dvw scroll-pt-16">
  <head>
    <link
      rel="preload"
      href={inter}
      as="font"
      type="font/woff2"
      crossorigin
    />
    <Meta title={title} description={description} />
    <script is:inline>
      const storedTheme = localStorage.getItem('themeSwitcher');
      const theme = storedTheme || 'sky';
      document.documentElement.setAttribute('data-theme', theme);
    </script>
    <script is:inline>
      const preferredTheme =
        localStorage.getItem('themeToggle') ||
        (window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light');
      document.documentElement.classList.toggle(
        'dark',
        preferredTheme === 'dark'
      );

      window.addEventListener('storage', () => {
        const isDark = localStorage.getItem('themeToggle') === 'dark';
        document.documentElement.classList.toggle('dark', isDark);
      });
    </script>
    <slot name="head" />
  </head>
  <body class="flex min-h-dvh w-dvw flex-col items-center overflow-x-hidden">
    <ReactHeader />
    <main class="flex grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
