---
import '@styles/global.css';
import Meta from '@components/Meta.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import GlobalHotKeys from '@components/GlobalHotKeys';
import { Font } from 'astro:assets';
// import FontSource from '@components/FontSource.astro';

const { description, title } = Astro.props;
---

<html lang="en" class="min-h-dvh w-dvw scroll-pt-16">
  <head>
    <!-- <FontSource /> -->
    <Font cssVariable="--font-family" preload />
    <Meta title={title} description={description} />
    <script is:inline>
      const storedTheme = localStorage.getItem('themeSwitcher');
      const theme = storedTheme || 'orange';
      document.documentElement.setAttribute('data-theme', theme);
    </script>
    <script is:inline>
      const preferredTheme =
        localStorage.getItem('themeToggle') ||
        (window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light');

      document.documentElement.classList.toggle(
        'dark',
        preferredTheme === 'dark'
      );

      document.documentElement.style.colorScheme = preferredTheme;

      window.addEventListener('storage', () => {
        const theme = localStorage.getItem('themeToggle') || 'light';
        document.documentElement.classList.toggle('dark', theme === 'dark');
        document.documentElement.style.colorScheme = theme;
      });
    </script>
    <slot name="head" />
  </head>
  <body class="flex min-h-dvh w-dvw flex-col items-center overflow-x-hidden">
    <GlobalHotKeys client:load />
    <Header />
    <main class="flex grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
