---
const { frontmatter } = Astro.props;
import NavBar from '../components/NavBar.astro';
import '/src/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
        <style>
            :root {
                @apply bg-slate-900;
            }
        </style>
	</head>
    <NavBar />
    <div class="prose prose-invert prose-hr:border-amber-600 prose-h1:pt-12">
        <slot>
        </slot>
    </div>
</html>
