---
import '@fontsource-variable/inter';
import inter from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2';
import '@styles/global.css';
import Meta from '@components/Meta.astro';
import ReactHeader from '@components/ReactHeader.astro';

const { title, description } = Astro.props;
---

<html lang="en" class="min-h-dvh w-dvw scroll-pt-16 overflow-x-hidden">
  <head>
    <link
      rel="preload"
      href={inter}
      as="font"
      type="font/woff2"
      crossorigin
    />
    <Meta title={title} description={description} />
    <script is:inline>
      const storedTheme = localStorage.getItem('themeSwitcher');
      const theme = storedTheme || 'sky';
      document.documentElement.setAttribute('data-theme', theme);
    </script>
    <script is:inline>
      const preferredTheme =
        localStorage.getItem('themeToggle') ||
        (window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light');
      document.documentElement.classList.toggle(
        'dark',
        preferredTheme === 'dark'
      );

      window.addEventListener('storage', () => {
        const isDark = localStorage.getItem('themeToggle') === 'dark';
        document.documentElement.classList.toggle('dark', isDark);
      });
    </script>
  </head>
  <main class="min-w-screen flex min-h-dvh grow flex-col items-center">
    <ReactHeader />
    <div class="my-auto flex w-dvw justify-center">
      <slot />
    </div>
  </main>
</html>
