---
import Meta from '@components/Meta.astro';
import ReactHeader from '@components/ReactHeader.astro';

const { title, description } = Astro.props;
---

<html lang="en" class="min-h-dvh w-dvw scroll-pt-16 overflow-x-hidden">
  <head>
    <Meta title={title} description={description} />
    <script is:inline>
      const preferredTheme =
        localStorage.getItem('themeToggle') ||
        (window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light');
      document.documentElement.classList.toggle(
        'dark',
        preferredTheme === 'dark'
      );

      window.addEventListener('storage', () => {
        const isDark = localStorage.getItem('themeToggle') === 'dark';
        document.documentElement.classList.toggle('dark', isDark);
      });
    </script>
  </head>
  <main class="flex flex-grow min-h-dvh min-w-screen flex-col items-center">
    <ReactHeader />
    <div class="justify-center my-auto w-dvw flex">
      <slot />
    </div>
  </main>
</html>
