---
import ReactHeader from '@components/ReactHeader.astro';

const { title, description } = Astro.props;
---

<html lang="en" class="min-h-dvh w-dvw scroll-pt-16 overflow-x-hidden">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <slot name="head" />
    <script is:inline>
      const getThemePreference = () => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme');
        } else {
          return window.matchMedia('(prefers-color-scheme: dark)').matches
            ? 'dark'
            : 'light';
        }
      };

      const isDark = getThemePreference() === 'dark';
      document.documentElement.classList.toggle('dark', isDark);

      if (typeof localStorage !== 'undefined') {
        window.addEventListener('storage', () => {
          const isDark = document.documentElement.classList.contains('dark');
          localStorage.setItem('theme', isDark ? 'dark' : 'light');
        });
      }
    </script>
  </head>
  <ReactHeader />
  <slot />
</html>
